.detail-review-body{
    padding-top: 22px;
    padding-left: 195px;
    padding-right: 195px;
    height: auto;
    /*min-height: 700px;*/
}

.detail-review-rating-container{
    width: 343px;
    height: auto;
    min-height: 130px;
}

.detail-review-response-container{
    padding-top: 9px;
    padding-left: 195px;
    padding-right: 192px;
    height: 392px;
    min-height: 392px;
}

.detail-review-rating{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    width: 100px;
    height: auto;
    /* Orange */
    color: #F39847;
    white-space: nowrap;
    display: inline-block;
}

.api-rating-star{
    color: #F39847;
    font-size: 15px !important;
}

.detail-review-rating-stars{
    /*white-space: nowrap;*/
    height: 22px;
    display: flex;
    /*width: 100%;*/
}

.detail-review-rating-count{
    font-family: Margarine;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding-top: 20px;

    /* Gray 3 */
    color: #A5A5A5;
}

.detail-review-rating-lines{
    display: grid;
}

.detail-review-rating-line{
    display: inline-flex;
}

.rating-gray-line{
    width: 192px;
    height: 12px;
    background-color: #F2F2F2;
    white-space: nowrap;
}

.rating-green-line{
    /* Green 2 */
    background-color: #27AE60 !important;
    height: 100%;
}

.rating-blue-line{
    background-color: #2D9CDB !important;
    height: 100%;
}

.rating-yellow-line{
    background-color: #F2C94C !important;
    height: 100%;
}

.rating-orange-line{
    background-color: #F39847 !important;
    height: 100%;
}

.rating-red-line{
    background-color: #EB5757 !important;
    height: 100%;
}

.rating-lines-padded{
    margin-top: 8px;
    padding-top: 2px;
}

.detail-review-rating-line-label{
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 3 */
    color: #A5A5A5;
}

.detail-review-response-element{
    padding-top: 24px;
}
.detail-review-response-element-header{
    display: inline-flex;
    width: 100%;
}

.review-user-icon{
    vertical-align: middle;
    /* Gray 6 */
    background: #F2F2F2;
    /* Gray 4 */
    /*border: 1px solid #D8D8D8;*/
    box-sizing: border-box;
    /*width: 40px;*/
    height: 40px;
    /*color:  #4F4F4F;*/
    overflow: hidden;

    border-radius: 62px;
    padding: 9px 9px 9px 9px;
}

.reviewer-info{
    padding-left: 8px;
    width: 100%;
}

.review-username{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    /* Gray 2 */
    color: #4F4F4F;
    /*width: 48px;*/
    white-space: nowrap;

}

.review-date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    /* Gray 3 */
    color: #A5A5A5;
    padding-left: 6px;

}

.review-rate-info{
    width: 100%;
    height: 14px;
}

.review-rate-star{
    padding-top: 3px;
    color: #4F4F4F;
    font-size: 8px;
    float: left;
}

.review-like-dislike{
    float: right;
}

.review-like{
    padding-left: 4px;
    color: #A5A5A5;
}

.review-dislike{
    padding-left: 4px;
    color: #A5A5A5;
}

.review-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 2 */
    color: #4F4F4F;
    padding-top: 8px;
}