.Dropzone {
    padding: 32px 52px 38px 43px;
    white-space: nowrap;
}

.api-image-Dropzone {

    white-space: nowrap;
}

.Highlight {
    background-color: rgb(188, 185, 236);
}

.Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
}

.FileInput {
    display: none;
}