:root {
    --font-family: Roboto, serif;
    --background-color: #F39847;
    height: auto;
    min-width: 1235px;
    --background-inactive-color: #F2F2F2;
}

.help-main{
    height: auto;
    min-height: 1015px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    /*min-width: 1348px;*/
    min-width: 1235px;
}

.help-header-picture-inner{
    width: 706px
}

.header-text-left{
    /*padding-top: 50px;*/
    min-height: 126px;
    height: auto;
    /*padding-left: 292px;*/
    width: 50%;
    float: left;
    min-width: 353px;
}

.header-text-right{
    width: 50%;
    float: right;
    min-height: 126px;
    min-width: 353px;
}


.header-slogan{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /*width: 353px;*/
    /* Gray 6 */
    color: #F2F2F2;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 353px;

    text-align: left;
    margin: 0 auto;
}

.header-slogan-right{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /*width: 353px;*/
    /* Gray 6 */
    color: #F2F2F2;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 353px;
    margin: 0 auto;
    text-align: left;
}


.help-header-picture {
    /*min-width: 1348px;*/
    height: 280px;
    background: url('../img/help.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;
}

.header-help-text-main{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.header-help-slogan{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    /* Gray 6 */
    color: #F2F2F2;
}

.help-body-container{
    min-width: 1235px;
    width: auto;
    height: 100%;
    min-height: 735px;
    /*padding-top: 72px;*/
    /*min-height: 700px;*/
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-inner-left-container{
    width: 50%;
    float: left;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    min-height: 532px;
}

.help-inner-right-container{
    width: 50%;
    float: right;
    padding-left: 162px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;

}

.help-inner-body-container{
    min-height: 532px;
}

.help-header-label{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    width: 100%;
}

.help-header-label-link{
    color: #4F4F4F;
}

.help-header-label-link:hover{
    color: #4F4F4F;
}

.help-header-label-link:focus{
    color: #4F4F4F;
}

.help-body-element{
    margin: 0 auto;
    text-align: left;
    display: grid;

}

.help-header-elements-label-link-disabled{
    text-align: left;
    display: grid;
}

.help-body-element-padded{
    padding-top: 74px;
}

.help-link-element-padded{
    padding-top: 44px;
}

.help-body-element-padded-second{
    padding-top: 100px;
}

.help-header-body{
    padding-top: 16px;

    font-family:  var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    width: 304px;
}

.help-header-body-links{
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    padding-top: 20px;
    width: 240px;
}

.help-page-main{
    height: auto;
    min-height: 900px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    min-width: 1348px;
    display: flex;
}


.left-side-help-body{
    /*width: 268px;*/
    width: 240px;
    min-width: 240px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    height: auto;
    min-height: 1063px;
}

.right-side-help-body{
    float: right;
    min-width: 1068px;
    width: 100%;
    min-height: 800px;
    height: auto;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.help-left-container-page-links-body{
    padding-top: 56px;
    padding-left: 32px;
    width: 240px;
    min-width: 240px;
    overflow: hidden;
    /*position: fixed;*/
    background: #FFFFFF;
}

.help-links-element{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* Gray 2 */
    color: #4F4F4F;
}

.help-header-elements-label{
    font-family:var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* Gray 2 */
    color: #4F4F4F;

    width: 100%;
}

.help-header-elements-label{
    color: #4F4F4F;
}

.help-link{
    color: #4F4F4F;
}

.help-link-disabled{
    color: #4F4F4F;
}

.help-link:hover{
    color: #2F80ED;
}

.help-link:focus{
    color: #2F80ED;
}

.help-sub-link{
    /*color: #A5A5A5;*/
    color: #2F80ED;
}

.help-sub-link-disabled{
    color: #A5A5A5;
}

.help-sub-link:hover{
    color: #2F80ED;
}

.help-sub-link:focus{
     color: #2F80ED;
 }

.help-sub-link-active{
     color: #2F80ED;
 }

.paragraph-link{
    color: #4F4F4F;
}
.paragraph-link:hover{
    color: #2F80ED;
}
.paragraph-link:focus{
    color: #2F80ED;
}

.paragraph-link-active{
    color: #2F80ED;
}

.help-header-body-linkshelp-header-link-set{
    padding-top: 20px;
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 3 */
    color: #A5A5A5;
}

.help-header-link-set{
    padding-top: 16px
}

.first-link-padded{
    padding-top: 20px
}

.help-sub-page{
    height: auto;
    min-height: 1063px;
    background: var(--background-inactive-color);
    /* min-width: 1633px; */
    min-width: 1126px;
    display: flex;
}

.help-sub-page-left-body{

    position: fixed;
    display: block;
    width: 274px;
    padding-top: 154px;
    padding-left: 60px;
    padding-right: 30px;

}

.help-sub-page-left{
    min-width: 240px;
    height: auto;

    /*text-align: center;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;

}

.help-sub-page-right{
    width: 100%;
    min-width: 852px;
    height: auto;
    padding-right: 222px;
}

.help-sub-paragraph{
    width: 123px;
    height: auto;
    padding-top: 16px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    /* Gray 2 */
    color: #4F4F4F;
}
.help-sub-page-right-body-parent{
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-sub-page-right-body{
    padding-top: 44px;
    /*margin-left: 274px;*/
    width: 632px;
}

.help-sub-page-right-body-header{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    /* Gray 2 */
    color: #4F4F4F;
}

.help-sub-page-right-body-header-sub{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-top: 24px;
    /* Gray 2 */
    color: #4F4F4F;
}

.help-sub-page-right-body-header-text{
    padding-top: 12px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    /* Gray 2 */
    color: #4F4F4F;
}

.help-sub-page-right-body-header-next-text{
    padding-top: 36px;
    margin-bottom: 12px;
}

.help-sub-page-right-body-header-image{
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    width: 632px;
    height: 402px;
    object-fit: cover;
    cursor: pointer;
}

.fake-footer-of-body{
    margin-bottom: 40px;
}