.help-main{
    height: auto;
    min-height: 1015px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    /*min-width: 1348px;*/
    min-width: 1235px;
}

.help-header-picture {
    /*min-width: 1348px;*/
    height: 280px;
    background: url('../img/help.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-help-text-main{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.header-help-slogan{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    /* Gray 6 */
    color: #F2F2F2;
}

.help-body-container{
    min-width: 1235px;
    width: auto;
    height: 100%;
    min-height: 735px;
    /*padding-top: 72px;*/
    /*min-height: 700px;*/
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-inner-left-container{
    width: 50%;
    float: left;
    text-align: center;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    min-height: 532px;
}

.help-inner-right-container{
    width: 50%;
    float: right;
    padding-left: 162px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;

}

.help-inner-body-container{
    min-height: 532px;
}

.help-header-label{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    width: 100%;
}

.help-header-label-link{
    color: #4F4F4F;
}

.help-header-label-link:hover{
    color: #2F80ED;
}

.help-header-label-link:focus{
    color: #2F80ED;
}

.help-body-element{
    margin: 0 auto;
    text-align: left;
    display: grid;

}

.help-body-element-padded{
    padding-top: 74px;
}

.help-link-element-padded{
    padding-top: 44px;
}

.help-body-element-padded-second{
    padding-top: 100px;
}

.help-header-body{
    padding-top: 16px;

    font-family:  var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    width: 304px;
}

.help-header-body-links{
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    padding-top: 20px;
    width: 240px;
}

.help-page-main{
    height: auto;
    min-height: 900px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    min-width: 1348px;
    display: flex;
}


.left-side-help-body{
    /*width: 268px;*/
    width: 240px;
    min-width: 240px;
    height: 1015px;
    /* white */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.right-side-help-body{
    float: right;
    min-width: 1068px;
    width: 100%;
    min-height: 800px;
    height: auto;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.help-left-container-page-links-body{
    padding-top: 56px;
    padding-left: 32px;
    width: 100%;
    overflow: hidden;
}

.help-links-element{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* Gray 2 */
    color: #4F4F4F;
}

.help-header-elements-label{
    font-family:var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* Gray 2 */
    color: #4F4F4F;

    width: 100%;
}

.help-header-elements-label{
    color: #4F4F4F;
}

.help-link{
    color: #4F4F4F;
}

.help-link:hover{
    color: #2F80ED;
}

.help-link:focus{
    color: #2F80ED;
}

.help-sub-link{
    color: #A5A5A5;
}

.help-sub-link:hover{
    color: #2F80ED;
}

.help-sub-link:focus{
     color: #2F80ED;
 }

.help-sub-link-active{
     color: #2F80ED;
 }

.help-header-body-linkshelp-header-link-set{
    padding-top: 20px;
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 3 */
    color: #A5A5A5;
}

.help-header-link-set{
    padding-top: 16px
}

.first-link-padded{
    padding-top: 20px
}