.help-main{
    height: auto;
    min-height: 1015px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    /*min-width: 1348px;*/
    min-width: 1235px;
}

.help-header-picture {
    /*min-width: 1348px;*/
    height: 280px;
    background: url('../img/help.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header-help-text-main{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.header-help-slogan{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    /* Gray 6 */
    color: #F2F2F2;
}

.help-body-container{
    min-width: 1235px;
    width: auto;
    height: 100%;
    min-height: 735px;
    padding-top: 72px;
    /*min-height: 700px;*/
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}