.api-detail-main{
    height: auto;
    min-height: 900px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    min-width: 1362px;
    display: block;
}

.api-detail-container-breadcrumb{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* Gray 3 */
    color: #A5A5A5;
    padding: 38px 33px 20px 32px;
}

.api-detail-main-container{
    display: inline-flex;
    min-width: 1348px;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 30px;
    /*min-height: 2400px;*/
}

.api-detail-left-container{
    height: 624px;
    min-height: 624px;
    width: 360px;
    min-width: 360px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    margin-left: 32px;
    margin-right: 20px;
}


.api-detail-form-container{
    /*min-height: 2400px;*/
    height: auto;
    min-height: 616px;
    /*margin-top: -40px;*/
    /*width: 904px;*/
    /*min-width: 1002px;*/
    /*padding-right: 50px;*/
    background: #FFFFFF;
    min-width: 800px;
    width: 100%;
}

.api-detail-inner-filter-container{
    padding: 32px 40px 33px 40px;
    display: block;
    height: 500px;
}

.api-header-logo-picture{
    float: left;
}

.api-detail-inner-header-container{
    height: 64px;
}

.api-detail-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    /* Gray 2 */
    color: #4F4F4F;
    padding-top: 16px;
}

.api-detail-dealer{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 3 */
    color: #A5A5A5;
}

.api-detail-rating{
    padding-top: 8px;
}

.api-detail-create-button-text{
    font-family: Margarine;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    /* white */
    color: #FFFFFF;
    vertical-align: middle;
}

.api-detail-create-button{
    height: 32px;
    width: 142px;
    /*vertical-align:middle;*/
    overflow: hidden;

    text-align: center;
    /*padding-bottom: 7px;*/
    /*padding-top: 7px;*/
    padding: 0 0 !important;
}

.api-detail-add-button{
    padding-top: 16px;
    padding-bottom: 20px;
}

.api-detail-inner-body-container{

}

.api-left-form-elements{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    /* Gray 2 */
    color: #4F4F4F;
    padding-top: 8px;
}

.description-api-description-lighter{
    font-weight: normal;
}

.description-api-description-wrapper{
    text-align: justify;
}

.description-api-links-color-blue{
    color: #2F80ED;
}

.description-api-links-padder{
    padding-top: 20px;
}

.description-body-link{
    padding-left: 8px;
    font-family: Margarine;
    font-weight: normal;
    line-height: 19px;
}


.api-detail-form-header-container{
    height: 52px;
    /*width: 100%;*/
    border-bottom: 1px solid #E0E0E0;
}

.api-detail-form-body-container{
    height: auto;
    min-height: 507px;
    /*width: 100%;*/
    padding-bottom: 23px;
}

.api-detail-text-avatar{
    cursor: pointer;
    width: 77px;
    height: 77px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 30px;
    border-radius: 50%;
    color: white !important;
    font-style: normal;
    font-weight: normal;
    font-size: 77px;
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}