.ProgressBar {
    width: 100%;
    height: 8px;
    background-color: #1598ed;
    border-radius: 5px;
}

.error-progressBar {
    width: 100%;
    height: 8px;
    background-color: #f21f2c;
    border-radius: 5px;
}

.Progress {
    background-color: #115ded;
    height: 100%;
    margin: 0;
    border-radius: 5px;
}