#login-container{
    width: auto;
    /*min-width: 1366px;*/
    height: 100%;
    min-height: 1000px;
    display: flex;
    /*margin-top: 80px;*/
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
}

#login-container-left{
    min-width: 800px;
    width: 70%;
    float: left;
    background: url('../img/img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login-container-right{
    width: 30%;
    float: right;
    height: 100%;
}

#login-container-right-header{
    height: 66px;
    min-height: 66px;
    border-bottom: 1px solid #E0E0E0;
}

#login-container-right-header h3{
    color: #2F80ED;
}

.submit-button{
    background: #2F80ED !important;
    color: white !important;
    font-family: Roboto, serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.login-container-right-form{
    height: 426px;
    min-width: 488px;
    padding-top: 64px;
}
#login-container-right-footer{
    padding-top: 88px;
    height: 256px;
    min-height: 256px;
    width: 100%;
    /*padding: 88px 185px 118px 186px;*/
    display: inline-block;
}

.login-right-header{
    padding: 24px 399px 24px 32px !important;
}

.login-data-segment-form{
    border: none !important;
    -webkit-box-shadow: none !important;
}

.footer-icon-group{
    margin-top: 18px;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.navigate-links{
    margin-left: 120px;
    margin-right: 120px;
    height: 52px;
}


.footer-icon-group-label{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.login-nav-link-left{
    width: 124px;
    height: 52px;
    float: left;
    min-height: 52px;
    border-bottom: 2px solid #2F80ED;
    text-align: center;
    padding-top: 12px;
}

.signup-nav-link-right-login{
    width: 124px;
    float: right;
    height: 100%;
    min-height: 52px;
    text-align: center;
    padding-top: 12px;
}

.signup-nav-link-right-login:hover{
    width: 124px;
    float: right;
    height: 100%;
    min-height: 52px;
    text-align: center;
    padding-top: 12px;
    background-color: #E0E0E0;
}

