.shop-main{
    height: auto;
    min-height: 1180px;
    background: #F2F2F2;
    /*min-width: 1633px;*/
    min-width: 1348px;
}

.grid-logo-text-avatar{
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    padding-top: 25px;
    border-radius: 50%;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}

.grid-logo{
    float: left;
    width: 32px;
    height: 32px;
    /*float: left;*/
    display: block;
    position: relative;
    overflow: hidden;
}

.grid-logo:hover{
    cursor: pointer;
}

.shop-main-container{
    display: inline-flex;
    /*min-height: 2400px;*/
    width: 100%;
    min-width: 600px;
}

.api-element-container-header{
    padding-bottom: 12px;
}

.second-api-element{
    padding-top: 20px;
}

.main-form-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    /* Gray 2 */
    color: #4F4F4F;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.shop-container-breadcrumb{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* Gray 3 */
    color: #A5A5A5;
    padding: 38px 33px 20px 57px;
}

.shop-left-container{
    height: 750px;
    min-height: 750px;
    width: 240px;
    min-width: 240px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    margin-left: 54px;
    margin-right: 20px;
}

.shop-form-container{
    /*min-height: 2400px;*/
    height: auto;
    min-height: 616px;
    margin-top: -40px;
    min-width: 1002px;
    padding-right: 50px;
    width: 100%;
}

.shop-form-element-container{
    /*min-height: 2400px;*/
}

.shop-filter-title{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    /* Gray 2 */
    color: #4F4F4F;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.shop-filter-rating{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    /* Gray 2 */
    color: #4F4F4F;
    padding-top: 20px;
    display: block;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.shop-filter-rating-stars{
    padding-top: 4px;
}

.star:hover{
    color: #F39847;
}

.star{
    color: #A5A5A5;
}

.shop-inner-filter-container{
    padding: 16px 24px 23px 24px;
}

.shop-filter-response-time{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    /* Gray 2 */
    color: #4F4F4F;
    padding-top: 20px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.shop-filter-response-time-line{
    padding-top: 0px;
}

.MuiSlider-root.shop-filter-response-time-line-slider{
    color: #2F80ED;
    padding-top: 5px;
}

.shop-filter-response-time-label{
    padding-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    /* Gray 3 */
    color: #A5A5A5;
}

.left-label{
    float: left;
}

.right-label{
    float: right;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.right-label:hover{
    font-weight: bolder;
}

.category-labels{

}

.category-label{
    padding-top: 16px;
}

.category-label a:hover{
    font-weight: bold;
}

.red-label{
  color: #db2828 !important
}

.orange-label{
    color: #F39847 !important;
}

.yellow-label{
    color: #F2C94C !important;
}

.green-label{
    color: #219653 !important;
}

.olive-label{
   color: #b5cc18 !important;
}

.blue-label{
   color: #2185d0!important;
}

.purple-label{
   color: #a333c8!important;
}

.teal-label{
   color: #00b5ad!important
}

.violet-label{
   color: #6435c9!important
}

.grey-label{
   color: #767676!important
}

.category-label a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 2 */
    color: #4F4F4F;
    padding-left: 8px;
}

.category-label span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* Gray 3 */
    color: #A5A5A5;
}

.ui.segment.api-element-container{
    border: none;
}

.api-element-data{
    min-width: 270px;
    /*height: 200px;*/
    /*display: block;*/
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;

}

.api-element-footer{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #A5A5A5;
    /*padding-top: 13px;*/
}

.api-element-footer .category-label a{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    /* Red */
    color: #EB5757;
}

.main-form-header-count{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* Blue 1 */
    color: #2F80ED;
    padding-top: 6px;
}

.bookmarked-api-label{
    padding-top: 22px;
    /*color: #4F4F4F;*/
}


.bookmarked-api-filter-link{
    text-align: left;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #4F4F4F;
}

.bookmarked-api-filter-link-icon{
    width: 12px;
    height: 16px;
    color: #4F4F4F;
}

.bookmarked-api-filter-link:hover >i{
    color: #2F80ED;
}

.bookmarked-api-filter-link:hover >span{
    color: #2F80ED;
}

.bookmarked-api-filter-link-text{
    color: #4F4F4F;
}

.bookmarked-api-filter-data-size{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
}

