.footer-authenticated{
    height: 48px;
    width: auto;
    display: flex;
    background: #4F4F4F;
    /*min-width: 1633px;*/
    /*min-width: 1348px;*/
    /*min-width: 1250px;*/
    float: bottom;
}

.footer-left-logo{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 28px;
    white-space: nowrap;
}

.footer-link-container{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 41px;
    white-space: nowrap;
}

.footer-icons-group{
    padding: 18px 18px 18px 100px;
    display: flex;
    justify-content: space-between;
}
.footer-icon-container{
    color: #A5A5A5;
}
.footer-right-link-container{
    color: #F2F2F2;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    padding: 16px 24px 16px 0px;
    white-space: nowrap;
    background: #4F4F4F;
}