.header-authenticated{
    height: 64px;
    display: flex;
    min-width: 1633px;
    width: auto;
}

.header-right-menu{
    width: 226px;
    height: 100%;
    float: right;
    border-left: 1px solid #E0E0E0;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #A5A5A5;
    display: flex;
}

.header-left-logo{
    width: 114px;
    float: left;
    height: 100%;
    min-height: 64px;
    text-align: center;
    padding: 24px 28px 24px 28px;
    background-color: #428BEF;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.header-center-navlink{
    padding: 24px 36px 24px 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    min-width: 154px;
}


.header-right-navlink{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.header-right-navlink-bell{
    text-align: center;
    padding: 24px 0px 24px 0px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.header-right-navlink-bookmark{
    text-align: center;
    padding: 24px 11px 24px 14px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.header-right-navlink-profile{
    padding-left: 11px;
    text-align: center;
    padding-top: 6px;
}


.header-center-search-input{
    /*padding: 16px 484px 9px 33px;*/
    padding-top: 14px;
    width: 250px;
    margin-right: 484px;
}

.header-center-search{
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.header-center-container{
    display: flex;
}

.portal-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
